$font-family: "OpenSans";
$second-family: "Poppins";

$color-text: #646464;
$color-subtitle: #212121;
$color-primary: #caa892;
$color-border: #caa892;
$color-second: #37806b;
$color-bg: #f8f8f8;

$container-width: 1360px;
$container-offset: 40px;

$main-trs: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

$outline: dashed $color-primary;
$outline-offset: 2px;
