.subtitle {
  margin-bottom: 2.3rem;
  font-family: $second-family;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 108%;
  color: $color-subtitle;

  &--center {
    text-align: center;
  }
}
