.testimonials {
  padding-top: 14rem;
  padding-bottom: 12rem;

  .swiper-slide {
    padding-left: 65px;
  }
}

.testimonials__slider {
  overflow: hidden;
  padding: 35px;
  margin: -35px;
}

.testimonials__btns {
  margin-bottom: 8.6rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.8rem;
}

.testimonials__item {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  position: relative;
  max-width: 571px;
  min-height: 22.6rem;
  border-radius: 7rem 0;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  background: #fff;

  &:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: url("../images/quote.svg") center center / cover no-repeat;
  }

  img {
    position: absolute;
    border-radius: 3.5rem 0;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
.testimonials__name {
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: $color-subtitle;

  span {
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-text;
  }
}

.testimonials__description {
  font-size: 1.8rem;
  line-height: 156%;
}
